[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
